<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Simple Editeur HTML</title>


    {{ asset_css('style.css') }}


</head>
<body yahoo bgcolor="#f6f8f1" ondragover="return false">


{{ menuTop }}

{{ rightSide }}

{{ simpleEditeurBlock }}





<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

{{ asset_js('ckeditor/ckeditor.js') }}
{{ asset_js('globalSimple.js') }}


</body>
</html>